<!DOCTYPE html>
<html>
  <head>
    <script>
      var __addEventListener = Element.prototype.addEventListener;
      Element.prototype.addEventListener = function (type, handler, capture) {
        if(!this['events']){
          this['events'] = {};
        }
        this['events'][type] = 1;
        return __addEventListener.apply(this, [type, handler, capture]);
      }
    </script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="btn1">blue</button>
    <button onClick="body_color('red')">red</button>
    <button class="reset_btn">reset</button>
    <script>
      document.getElementById('btn1').addEventListener('click', function () {
        body_color('blue')
      })
      document.querySelector(".reset_btn").onclick= function () {
        body_color('none');
      }
      function body_color(color) {
          document.body.style['background'] = color;
      }
    </script>
    <script src="/javascripts/io.js"></script>
  </body>
</html>
